$themeColor : #ffbc19;
$red : #cf2323;
$green : #6cb03a;
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: url(../images/body-bg.jpg) no-repeat center top #000;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}
h1{
    font-size: 28px;
    font-weight: 600;
}
img{
    max-width: 100%;
    height: auto;
}
.homepage-container{
    max-width: 1034px;
    padding-top: 17px;
}
.video-frame{
    margin-bottom: 54px;
}
/* Getaccessfree-section */
.getaccessfree-section{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
    .form-control{
        height: 55px;    
        padding: 15px 16px;
    }
    .btn-yellow{
        text-transform: uppercase;
        border-bottom: 5px solid #8c2e00;
        padding: 6px 12px 9px;
        border-radius: 10px;
        font-size: 32px;
        font-weight: 900;
        color : #010000;
        &:hover{
            color: #000;
        }
    }
}

.form-control{
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
}



.live-feed{
    font-size: 24px;
    background: #0f3f64;
    color: #fff;
    text-align: center;
}
.live-feed .ticker-bar{
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px;
    margin-top: 2px;
    background: url(../images/ticker.jpg) repeat-x center top;

}
.live-feed strong{
    text-transform: uppercase;
}
.live-feed p{
    margin-bottom: 0;
}
/*
    Default Buttons
*/
.btn-yellow{
    border: none;
    background: #ffd700;
    background: -moz-linear-gradient(top, #ffd700 0%, #d47300 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd700), color-stop(100%,#d47300));
    background: -webkit-linear-gradient(top, #ffd700 0%,#d47300 100%);
    background: -o-linear-gradient(top, #ffd700 0%,#d47300 100%);
    background: -ms-linear-gradient(top, #ffd700 0%,#d47300 100%);
    background: linear-gradient(to bottom, #ffd700 0%,#d47300 100%);    
    color: #fff;
    &:hover{
    color: #fff;
    background: #d47300;    
    }
}
.btn-lg{
    border-radius: 10px;
    border-radius: 10px;
    font-size: 28px;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.btn-grey{
    background: #adadad;
    color: #555;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover,&.active{
        background: $green;
        color: #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}
.btn-red{
    color : #fff;
    background: url(../images/btn-red.jpg) repeat-x;
    font-size: 32px;
    font-weight: 900;
    padding: 9px 12px;
    border-radius: 15px;
    text-transform: uppercase;
    white-space: normal;
    line-height: 0.8;
    text-shadow: -1px -1px 1px #000;
    font-style: italic;
    display: inline-block;
    border-bottom: 5px solid #600300;
    &:hover{
        color: #fff;
        background: url(../images/btn-red.jpg) repeat-x;
    }
}
.btn-danger{
    background: #e64c2d;
}
.btn-success{
    background: $green;
}
.btn-primary{
    background: #3f73c2;
}



/* footer */
.footer{
    margin-top: 110px;
    color: #fff;
    text-align: center;
}
.footer a{
    color: inherit;
}
.footer-nav{
    margin-bottom: 45px;
}
.footer-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-nav li{
    display: inline;
    display: inline-block;
}
.footer-nav a{
    display: inline-block;
    margin: 0 5px;
}
.strict-notes{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 25px;
}


/* home 2 */
.start-now-title{
    background: url(../images/start-now-title.jpg) repeat-x;
    font-size: 28px;
    font-weight: 900;
    color: #000;
    line-height: 0.8;
    text-align: center;
    padding: 4px 10px 3px;
    position: relative;
    zoom: 1;
    margin-bottom: 20px;
}
.start-now-title:before{
    content: '';
    background: url(../images/arrow.png) no-repeat;
    width: 45px;
    height: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -23px;

}
.form-group .left-input{
    padding-right: 7px;
}
.form-group .right-input{
    padding-left: 7px;
}
.live-status h1{
    margin: 0;
}
.score-text span{
    margin: 0 10px;
}
.title-section{
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}
.table{
    color: #fff;    
    border: 1px solid #fff;
    text-align: center;
}
.table th{
    color: $themeColor;
    font-weight: 600;
}
.table > thead > tr > th{
    border: none;
    vertical-align: middle;
}
.table > tbody > tr > td{
    vertical-align: middle;
}
.table > tbody > tr > td:first-child{
    text-transform: uppercase;
    text-align: left;
}

.text-danger{
    color: $red;
}
.text-success{
    color: $green;
}

.pagination-right{
    text-align: right;
}
.pagination-left{
    text-align: left;
}
.pagination{
    margin: 0 0 20px;
    & > li > a:focus,
    & > li > a:hover,
    & > .active > span,
    & > .active > span:hover,
    & > .active > span:focus,
    & > li > span:focus,
    & > li > span:hover{
        background: #fff;
        color: #000;
        border: none;
        padding: 1px 6px;
    }
    & > li > a{
        background: none;
        color: #fff;
        border: none;
        border-radius: 0 !important;
        padding: 1px 6px;
        margin-left: 3px;
    }
}

/* platform page */
.platform-page h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.panel-sidebar{
    padding: 33px 29px;
    color: #fff;
    p{
        font-size: 18px;
    }
    h3{
    color: #fff;
    margin: 15px 0;
        strong{
            font-weight: 600;
        }
    }
}
.sidebar-nav{
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    .fa{
        width:  26px;
        text-align: center;
        font-size: 1.2em;
        vertical-align: middle;
        margin-right: 5px;
    }
    a{
        display: block;
        background: #000;
        background: #0a1320;
        border-top:1px solid #212f3c;
        border-bottom:1px solid transparent;
        color: #fff;
        padding: 10px 10px 9px;
    }
    a:hover,
    .active a{
        text-decoration: none;
        background: #1d3c6b;
        color: #fff;
        border-top-color: transparent;
        border-bottom: 1px solid #32527e;
    }
}


.alert{
    border: none;
    border-radius: 0;
    text-shadow: none;
    font-weight: normal;
    a{
        color: inherit;
    }
}
.alert-lg{
    padding: 23px 25px 29px;    
    font-size: 20px;
}
.alert-danger{
    background: #ffcfcf;
    color: #a60000;
}

.box{
    background: #0e1115;
    border: 2px solid #fff;
    margin-bottom: 30px;
    .box-head{
        padding: 10px;
        font-size: 20px;
        background: #000;
        strong{
            font-weight: 600;
        }
    }
    .box-body{
        padding: 23px 23px 14px;
        text-align: center;
    }
    .btn-lg{
        min-width: 424px;
    }
    .alert{
        margin-bottom: 0;
        margin-top: 20px;
    }
}
.setammount .btn{
    min-width: 423px;
    margin-bottom: 1px;
    font-size: 20px;
    font-weight: 600;
}
.current-balance{
    display: block;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}
.position-figure{
    display: block;
    margin: 15px auto 20px;
    font-size: 80px;
    font-weight: 600;
    line-height: 1;   
}
.positions-section .btn{
    min-width: 159px;
    font-size: 20px;
    border-radius: 7px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}


.theme-text{
    color : $themeColor;
}
/* for sticky footer */
.wrap,body,html{
    min-height: 100%;
    height: 100%;
}
.wrap{
    padding-bottom: 300px;
    margin-bottom: -300px;
}
.footer{
    margin: 100px 0 0;
    height: 200px;
}

/* for tablet */
@media (max-width: 998px){
    .strict-notes,
    .footer-nav,
    .video-frame{
        margin-bottom: 15px;
    }
    .footer{
        margin-top: 40px;
    }
    .form-group {
        .left-input{
        padding-right: 15px;
        margin-bottom: 15px;
        }
        .right-input{
            padding-left:15px;
        }
    }
    .table-responsive .table{
        margin: 0;
    }
}
/* for mobile */
@media (max-width: 767px){
    .live-status h1{
        font-size: 24px;
    }
    .title-section{
        font-size: 16px;
    }
    .setammount .btn,
    .box .btn-lg{
        min-width: 100%;
    }
    .panel-sidebar{
        padding: 20px 10px;
    }
    .btn{
        white-space: normal;
    }
}