body{background:#E8E8E8 url(../images/bodybg.jpg) repeat-x left top;font-family:"Helvatica Neue", Helvatica, sans-serif;}
.home-page{background:url(../images/homebodybg.jpg) repeat-x left top;}
h1{color:#22acdc;margin:20px 0;}
h3{font-size:24px;font-family:inherit;}
img{max-width:100%;height:auto;}
a:focus,
*:focus{outline:none;text-decoration:none;}
textarea{resize:none;}
.btn:focus{outline:none;}
.navbar-toggle > .icon-bar{background:#fff;}
.navbar{border-radius:0;margin:13px 0 30px;}
.navbar-nav{padding:13px 0;list-style:none;}
.navbar-nav > li{padding:0;padding-left:13px;}
.navbar-nav > li > a{color:#fff;border:1px solid transparent;display:block;padding:7px 15px;border-radius:16px;position:relative;}
.num{width:30px;height:30px;display:block;position:absolute;top:-8px;right:-17px;background:red;border-radius:50%;line-height:30px;text-align:center;font-size:14px;}
.navbar-nav > li > a:hover{text-decoration:none;}
.navbar-nav > .with-border > a{border-color:#fff;}
.navbar-nav > .notification_link > a{padding:0;margin:0 15px;}
.navbar-nav > .notification_link > a .num{}
.navbar-nav > .active > a svg,
.navbar-nav > li > a:hover svg{fill:#fff;}
.navbar-nav > li > a svg{width:34px;fill:#c1c1c1;}
.page-content{background:#fff;padding:20px 25px 10px;min-height:710px;}
.page-content h3{color:#22ACDC;}
.text-blue{color:#0CA9FA;}
.btn-facebook:focus,
.btn-facebook{background:#3B5998;color:#fff;}
.btn-facebook:hover{background:#4b70bf;color:#fff;}
.btn-social{height:37px;position:relative;line-height:23px;padding-left:40px;}
.btn-social .fa{font-size:2.3em;position:absolute;left:5px;top:1px;}
.login-form{max-width:440px;margin:0 auto;padding:25px 50px;font-size:13px;color:#666;}
.login-form label{font-weight:normal;}
.login-form h4{color:#333;margin:15px 0;margin-left:-40px;margin-right:-40px;text-align:center;}
.input-hint{position:relative;}
.input-hint .fa{position:absolute;right:0;top:0;font-size:1.5em;padding:7px 10px;color:#aaa;}
.input-hint .form-control{padding-right:30px;}
.text-grey{color:#888;}
.btn-blue{background:#0FAAF0;font-size:15px;color:#fff;border-bottom:2px solid #0D96D3;}
.btn-blue:focus,
.btn-blue:hover{color:#fff;}
.btn-danger{background-color:#d3112e;border-color:transparent;}
.vcheck{margin-right:20px;display:inline-block;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.vcheck input{display:none;}
.vcheck input + span{display:inline-block;padding-left:20px;background:url(../images/svg/check.svg) no-repeat left center;}
.vcheck input[type="checkbox"] + span{background:url(../images/svg/checkbox.svg) no-repeat left 3px;}
.vcheck input:checked + span{background:url(../images/svg/checked.svg) no-repeat left center;}
.vcheck input[type="checkbox"]:checked + span{background:url(../images/svg/checkbox-checked.svg) no-repeat left 3px;;}
.twice-inputs{margin-left:-3px;margin-right:-3px}
.twice-inputs > div{padding-left:3px;padding-right:3px;}
.form-section .form-control{background:#f4f7f9;border:1px solid #d1d1d1;border-radius:0;padding:9px 14px;height:auto;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.form-section label{color:#22acdc;font-weight:normal;font-size:19px;}
.modal-form{font-size:17px;padding:30px;}
.modal-form label{font-weight:normal;color:#868687;}
.modal-form .simpleselect .placeholder:hover,
.modal-form .simpleselect .placeholder{background:#dbdbdb;border-radius:0;}
.modal-form .form-control{background:#dbdbdb;border-radius:0;border-color:transparent;-webkit-box-shadow:0;-moz-box-shadow:none;box-shadow:none;}
.sidebar{background:#F7F7F7;padding:30px 25px 10px;min-height:710px;}
.sidebar-section{text-align:center;margin-bottom:30px;}
.sidebar-section h3{font-size:21px;margin-top:0;margin-bottom:20px;}
.footer{text-align:right;padding:20px 0 10px;background:#E8E8E8;}
.home-page .footer{padding:13px 20px 3px;}
.footer,
.footer a{color:#46687A;}
.hidden_select_container{width:0;height:0;overflow:hidden}
.simpleselect,.simpleselect *{box-sizing:content-box}
.simpleselect{position:relative;width:100%;height:38px;color:#666;font-size:13px}
.simpleselect .options{left:0;right:0;}
.simpleselect .placeholder, .simpleselect .options .option, .simpleselect .options .optgroup .optgroup-label{padding:9px 13px;line-height:18px;cursor:pointer;}
.simpleselect .options .optgroup .optgroup-label{cursor:default;font-weight:bold}
.simpleselect .options .optgroup .option{padding-left:20px}
.simpleselect .placeholder,
.simpleselect .options{color:#000;background:#f4f7f9;border:1px solid #ddd;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.simpleselect .placeholder{position:relative;border-radius:10px;}
.simpleselect .placeholder:after{content:"\f0d7";display:block;position:absolute;right:0;top:0;font-family:"FontAwesome";font-size:1.5em;padding:10px;}
.simpleselect .placeholder:hover{background:#f4f7f9}
.simpleselect .options{display:none;position:absolute;top:100% !important;left:0;z-index:1000;height:auto !important;max-height:200px;overflow:auto !important;}
.simpleselect .options .option.active{background:#666;color:#fff}
.simpleselect.disabled .placeholder,.simpleselect.disabled .placeholder:hover{background:#fafafa;color:#aaa;border-color:#eee;cursor:default}
.simpleselect.disabled .placeholder:after{opacity:.5}
.btn-link{color:#8c8c8c;}
.btn-warning{background:#ffae4d;border-color:transparent;}
.btn-primary{background:#0f6ec0;border-color:transparent;}
.no-bg.btn-primary{border-color:#0f6ec0;background:none;color:#0f6ec0}
.btn-default{background:#ededed;border-color:transparent;color:#727272;}
.btn-lg{min-width:250px;}
.btn-lg.btn-block{min-width:inherit;}
.btn-white{background:#fff;color:#22acdc;font-size:19px;border-radius:15px;width:110px;}
.white-box{background:#fff;padding:25px 30px;font-size:17px;margin-bottom:25px;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.15);-moz-box-shadow:0 0 10px rgba(0,0,0,0.15);box-shadow:0 0 10px rgba(0,0,0,0.15);}
.white-box h3{margin:0 0 10px;font-size:25px;}
.offwhite-box p:last-child{margin-bottom:0;}
.offwhite-box{font-size:18px;background:#efefef;padding:15px 20px;border-left:13px solid #e8e8e8;}
.offwhite-box.no-border{border-left:0;padding-left:25px;}
.text-section{margin-bottom:20px;}
.text-section h3{font-size:21px;}
.text-section .lead{font-size:22px;}
.pro-win-section .trophy{float:left;width:93px;}
.pro-win-section .trophy +
.pro-win-details{margin-left:118px;}
.text-red{color:#db0f3b;}
.links-row a ~ a{margin-left:25px;}
.text-success{color:#028400;}
.fill-green{fill:#028400;}
.fill-blue{fill:#0f6ec0;}
.star{fill:#999;width:41px;}
.star-on{fill:#e2be22;}
.label-info{background:#9fe5ff;color:#0f6ec0;font-size:inherit;font-weight:normal;border-radius:0;padding:0.3em 0.8em;}
.white-btn-group{border:1px solid #fff;padding:4px;border-radius:8px;}
.white-btn-group .btn{background:none;color:#fff;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.white-btn-group .btn.active{background:#fff;color:#0f6ec0;}
.banner{text-align:center;font-size:31px;color:#fff;margin-bottom:30px;}
.banner p{margin-bottom:30px;}
.banner h1{font-size:48px;color:inherit;}
.sections-row{text-align:center;margin-bottom:30px;}
.sections-row .section{min-height:250px;}
.sections-row .section h3{margin-bottom:20px;color:#000;}
.sections-row .section ~ .section{border-left:2px solid #46687a;}
.navlist{list-style:none;margin:0 0 60px;padding:0;text-align:center;}
.navlist .nav-icon{background:#fff;width:110px;height:110px;display:table-cell;text-align:center;vertical-align:middle;border-radius:50%;}
.navlist em{display:block;font-style:normal;margin-top:10px;}
.navlist a{display:block;text-align:center;width:110px;color:#fff;font-weight:normal;}
.navlist li{display:inline-block;vertical-align:top;margin:0 20px;}
.navlist a:hover{color:#ffae4d;text-decoration:none;}
.navlist a:hover .nav-icon{background:#ffae4d;}
.navlist a:hover svg{fill:#fff;}
@media (max-width:1200px){.navlist li{margin:0 10px;}
}
@media (max-width:992px){.navlist-wrap{background:#23343d;padding:20px 0;margin-bottom:30px;}
.navlist-wrap .navlist{margin:0;}
.banner{font-size:25px;}
.banner h1{font-size:40px;}
.page-content{padding:20px;}
.page-content h3{margin-top:0;}
.sidebar{padding:20px;}
.navbar-header{padding-bottom:10px;}
.navbar-nav > li{padding:0;}
}
@media (max-width:767px){.login-form{padding:15px 0;}
.login-form h4{margin:15px 0;}
.navbar{margin:13px 0;}
.navlist li{margin:5px 15px;}
.banner p{font-size:16px;}
.sections-row .section ~ .section{border-left:none;}
.footer{text-align:center;}
}